* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    
}
.app {
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
    position: relative;
}
/* Preloader */
.preloader{
    display: block;
    width: 64px;
    margin: 0 auto;
}
/* Search */
.form_search{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.search_block {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.search_text_book {
    margin: 5px;
    outline: none;
    border: 1px solid black;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0px 1px 15px 1px rgba(0, 0, 0, 0.2);
}

.search_categories {
    margin: 5px;
    padding: 5px;
    outline: none;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0px 1px 15px 1px rgba(0, 0, 0, 0.2);
}

.search_sorting {
    margin: 5px;
    padding: 5px;
    outline: none;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0px 1px 15px 1px rgba(0, 0, 0, 0.2);
}
.search_submit{
    margin: 5px;
    padding: 5px;
    outline: none;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0px 1px 15px 1px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
}
/* books */
.section_search_item{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wrapper_card_book {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content:  space-evenly;
}
.total_book{
    padding: 5px;
    margin-top: 5px;
    border-radius: 10px;
    box-shadow: 0px 1px 15px 1px rgba(0, 0, 0, 0.322);
}

.total_book__bold{
    font-weight: bold;
}

.card_book {
    width: 250px;
    height: 500px;
    padding: 10px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0px 1px 15px 1px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.image_book {
    width: 200px;
    height: 300px;
    object-fit: contain;
}

.card_book_categories {
    width: fit-content;
    color: grey;
    border-bottom: 1px solid gray;
}

.card_book_authors {
    color: grey;
}
.load_more_wrapper{
    width: fit-content;
    margin: 0 auto;
}
.load_more{
    
    padding: 5px;
    margin-top: 25px;
    outline: none;
    border: 2px solid black;
    border-radius: 10px;
    background-color: greenyellow;
    font-weight: bold;
    box-shadow: 0px 1px 15px 1px rgba(0, 0, 0, 0.2);
}

/* book */

.wrapper_book{
    margin-top: 20px;
    border-radius: 15px;
    box-shadow: 0px 1px 15px 1px rgba(0, 0, 0, 0.2);
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.annotation_book{
    max-width: 570px;
    margin-left: 0 auto;
    line-height: 1.3em;
    display: flex;
    flex-direction: column;
}
.annotation_book div { 
    margin-top: 5px;
}
.description_book{
    padding: 5px;
    border-radius: 15px;
    box-shadow: 0px 1px 15px 1px rgba(0, 0, 0, 0.2);
}